$white: #FFFFFF;
$blue: #51A2F2;
$yellow: #FFE55C;
$red: #FF2442;
$green: #16D384;
$light_blue: #F9FBFC;
$black: #222222;
$gray_0: #707070;
$gray_1: #FAFAFA;
$gray_2: #DBDBDB;
$gray_3: #EAEAEA;
$input_focus:rgba(81, 162, 242, 0.8);
$input_default: #D4E8FC;

$box_sh_popups: 0px 0px 26px rgba(81, 81, 81, 0.15);
$box_sh_container: 0px 1px 4px rgba(27, 80, 115, 0.13);
$br16: 16px;
$br9: 9px;
$input_focus: 0px 0px 5px 1px rgba(81, 162, 242, 0.35);
$input_red: 0px 0px 5px 1px rgba(255, 36, 66, 0.35);
$input_green: 0px 0px 5px 1px rgba(22, 211, 132, 0.35);
$btn_blue_hover: 0px 0px 7px 1px rgba(81, 162, 242, 0.8); 
$btn_green_focus: 0px 0px 7px 1px rgba(81, 203, 242, 0.8);
$btn_yellow_default: 0px 6px 14px rgba(255, 229, 92, 0.56);;
$btn_yellow_hover: 0px 4px 11px rgba(255, 229, 92, 0.56);